* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "andika";
    text-decoration: none;

}
body{
    width: 100%;

}
h1{
    font-size: 1.6em;
}

header {
    
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgb(234, 247, 216);
    height: 6rem;
}

.active {

    background-color: rgb(119, 119, 118);
    ;
    color: rgb(246, 247, 246);
    border-radius: 6px;
    padding: 0.2rem;

}

.navList {
    display: none;
    
    list-style-type:none;
    gap: 1rem;
    background: rgb(194, 214, 165);
    padding: 4rem;
    font-size: 1.2rem;
    

}

a {
    color: black;

}

#menu {
    display: block;
    text-align: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;

}

.navList a:hover {
    text-decoration: underline;
    border-radius: 6px;
    padding: 0.2rem;
}

#menu::before {
    content: "☰";


}

.show {
    display: block;
}

#menu.show::before {
    content: "❎";
    position: absolute;
    top: -1.7rem;
    right: 0.2rem;

}

img{
    max-width: 2%;
}    


@media only screen and (min-width: 40em) {
    .navList {
        display: flex;
        padding: 1rem;
        margin-top: 0rem;
        background-color: red;
    }

    h1{
        font-size: 2em;
       
    }
    #menu {
        display: none;
    }




}