* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "ubuntu";


}



header {
    height: 120px;
    background-color: rgb(255, 255, 51);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;

}

.hero img{
    background-color: rgb(25, 25, 255);
    padding-top: 2rem;
    display: flex;
    width: 100%;
    max-height: 750px;
    height: auto;
    object-fit:cover;
    
}

.mention {
    height: 3rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
}


.wheather {
    text-align: center;
    border: 1px solid rgb(224, 224, 224);
    font-size: 1.1em;
    padding: 1rem;

}

ul {
    list-style-type: none;
    padding: 2rem
}

li {
    margin: 7px;

}

.wheather img {
    width: 150px;
}

footer {
    background-color: rgb(235, 235, 235);
    height: 7rem;
    font-size: 1.2em;
    text-align: center;
    padding: 1.5rem;
}
