* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "andika";
    text-decoration: none;

}

body {
    width: 100%;

}

h1 {
    font-size: 1.6em;
}

header {

    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgb(234, 247, 216);
    height: 6rem;

}

.active {

    background-color: rgb(119, 119, 118);
    ;
    color: rgb(246, 247, 246);
    border-radius: 6px;
    padding: 0.2rem;

}

.navList {
    display: none;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    padding: 25px 0;
    list-style-type: none;
    background-color: rgb(150, 165, 147);
    font-size: 1.2rem;


}

a {
    color: rgb(12, 12, 12);
}

nav {
    text-align: center;

}

#menu {
    display: block;
    text-align: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: black;



}

.navList a:hover {
    text-decoration: underline;
    border-radius: 6px;
    padding: 0.2rem;
}

#menu::before {
    content: "☰";
}

.show {
    display: block;
}

#menu.show::before {
    content: "❎";
    position: absolute;
    top: 5rem;
    right: 0.2rem;
    z-index: 1000;

}

img {
    max-width: 100%;
}

main {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr;
    align-content: center;
}

.gallery figure {
    box-shadow: 0 4px 8px rgb(88, 90, 87);
    padding: 20px;
    margin-bottom: 10px;
    align-items: center;
    width: 95%;
    background-color: rgb(227, 228, 227);
}

.gallery figure nameImg {
    display: block;
    text-align: center;

}

p {
    text-align: center;
    margin-bottom: 1.8rem;
    font-size: 1.5em;
}
footer {
    text-align: center;
    background: rgb(211, 231, 183);
    color: rgb(1, 7, 1);
    width: 100%;
    padding: 45px 10px;
    line-height: 0.3;
    

}